In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('/home/jerome/Documents/CSV FILE/healthcare-dataset-stroke-data.csv')

In [4]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [7]:
df.dropna(inplace= True, axis= 1)

In [8]:
len(df)

5110

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in df.columns:
    df[i] = le.fit_transform(df[i])

In [10]:
from sklearn.model_selection import train_test_split
X = df.drop('stroke', axis = 1)
y = df['stroke']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify= y)

In [12]:
df['stroke'].value_counts(normalize= True)

stroke
0    0.951272
1    0.048728
Name: proportion, dtype: float64

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,classification_report
Model = DecisionTreeClassifier()
Model.fit(X_train,y_train)
pred = Model.predict(X_test)

print(accuracy_score(y_test,pred))
print(classification_report(y_test,pred))

0.9080234833659491
              precision    recall  f1-score   support

           0       0.96      0.95      0.95      1458
           1       0.13      0.16      0.15        75

    accuracy                           0.91      1533
   macro avg       0.54      0.55      0.55      1533
weighted avg       0.92      0.91      0.91      1533

In [14]:
from imblearn.over_sampling import RandomOverSampler
from sklearn.utils import resample

random = RandomOverSampler(sampling_strategy= {1:2500}, random_state= 42)
X_resampled,y_resampled = random.fit_resample(X,y)

In [15]:
y_resampled.value_counts()

stroke
0    4861
1    2500
Name: count, dtype: int64

In [16]:
X_resampled.shape

(7361, 10)

In [17]:
X_new = pd.DataFrame(X_resampled)
X_new['stroke'] = y_resampled

In [18]:
X_new.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,smoking_status,stroke
0,671,1,88,0,1,1,2,1,3850,1,1
1,3610,0,82,0,0,1,3,0,3588,2,1
2,2151,1,101,0,1,1,2,0,2483,2,1
3,4226,0,70,0,0,1,2,1,3385,3,1
4,114,0,100,1,0,1,3,0,3394,2,1

In [19]:
new= df[df.stroke == 0]
new

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,smoking_status,stroke
249,2124,1,24,0,0,0,4,0,1986,0,0
250,2110,1,79,1,0,1,2,1,1604,2,0
251,1187,0,29,0,0,0,2,1,2663,0,0
252,3955,0,91,0,0,1,2,0,528,1,0
253,3199,1,35,0,0,0,1,0,3340,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5105,1312,0,101,1,0,1,2,1,1360,2,0
5106,3100,0,102,0,0,1,3,1,3030,2,0
5107,1396,0,56,0,0,1,3,0,1314,2,0
5108,2601,1,72,0,0,1,2,0,3363,1,0
5109,3089,0,65,0,0,1,0,1,1454,0,0

In [20]:
ne = resample(new,replace = False,n_samples= 2555, random_state= 30)

In [21]:
ne.shape

(2555, 11)

In [22]:
X_n_n = X_new[X_new['stroke'] ==1]
X_n_n

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,smoking_status,stroke
0,671,1,88,0,1,1,2,1,3850,1,1
1,3610,0,82,0,0,1,3,0,3588,2,1
2,2151,1,101,0,1,1,2,0,2483,2,1
3,4226,0,70,0,0,1,2,1,3385,3,1
4,114,0,100,1,0,1,3,0,3394,2,1
...,...,...,...,...,...,...,...,...,...,...,...
7356,4825,0,100,0,0,1,3,1,3851,2,1
7357,14,1,102,0,0,1,3,0,1796,2,1
7358,845,0,97,0,0,1,2,1,3639,0,1
7359,2397,0,102,1,0,1,3,0,786,2,1
7360,2917,0,71,1,0,1,2,0,738,1,1

In [23]:
ne

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,smoking_status,stroke
1044,4680,0,100,0,0,1,0,1,1920,2,0
4387,1772,0,66,0,0,1,0,1,1135,2,0
4521,2362,1,75,1,0,1,2,0,2852,2,0
3897,1699,1,25,0,0,0,4,0,1739,0,0
4090,3674,0,63,0,0,1,0,1,156,2,0
...,...,...,...,...,...,...,...,...,...,...,...
1294,4144,1,94,1,0,1,2,1,1625,2,0
4480,3998,1,76,0,0,1,2,0,227,3,0
702,2893,0,66,0,0,1,2,0,1191,2,0
2877,390,1,53,0,0,1,2,0,635,0,0
3608,4909,1,53,0,0,0,2,0,219,2,0

In [24]:
last_df = pd.concat([ne,X_n_n])

In [25]:
last_df = last_df.sample(frac= 1, random_state = 30).reset_index(drop= True)

In [26]:
last_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5055 entries, 0 to 5054
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5055 non-null   int64
 1   gender             5055 non-null   int64
 2   age                5055 non-null   int64
 3   hypertension       5055 non-null   int64
 4   heart_disease      5055 non-null   int64
 5   ever_married       5055 non-null   int64
 6   work_type          5055 non-null   int64
 7   Residence_type     5055 non-null   int64
 8   avg_glucose_level  5055 non-null   int64
 9   smoking_status     5055 non-null   int64
 10  stroke             5055 non-null   int64
dtypes: int64(11)
memory usage: 434.5 KB

In [27]:
last_df['stroke'].value_counts()

stroke
0    2555
1    2500
Name: count, dtype: int64

In [29]:
from sklearn.tree import DecisionTreeClassifier

y = last_df['stroke']
X = last_df.drop(columns=['stroke'], axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify =y)

In [30]:
tModel = DecisionTreeClassifier(random_state= 30)
tModel.fit(X_train,y_train)

DecisionTreeClassifier(random_state=30)

In [31]:
pred = tModel.predict(X_test)
print(accuracy_score(y_test,pred))
print(classification_report(y_test,pred))

0.942649967040211
              precision    recall  f1-score   support

           0       1.00      0.89      0.94       767
           1       0.90      1.00      0.95       750

    accuracy                           0.94      1517
   macro avg       0.95      0.94      0.94      1517
weighted avg       0.95      0.94      0.94      1517